:root {
  --bg1:#0f1220;
  --bg2:#090b14;
  --card:#15192b;
  --border:#242a44;

  --text:#e6e9f2;
  --muted:#9aa3c7;

  --green:#4ad17a;
  --yellow:#f2c94c;
  --gray:#3a3f5c;
}

* { box-sizing:border-box; }

body {
  margin:0;
  min-height:100vh;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Arial;
  background: radial-gradient(circle at top, var(--bg1), var(--bg2));
  color:var(--text);

  display:flex;
  justify-content:center; /* centro horizontal */
  align-items:center;     /* centro vertical */
}


header {
  text-align:center;
  margin-bottom:16px;
}

header h1 {
  margin:0;
  font-size:20px;
  letter-spacing:3px;
  font-weight:800;
}

header div {
  margin-top:6px;
  font-size:12px;
  color:var(--muted);
}

main {
  width:100%;
  max-width:420px;
  margin:0 auto;
  padding:0 14px;
}

.hint {
  text-align:center;
  font-size:13px;
  line-height:1.4;
  color:var(--muted);
  margin-bottom:18px;
}

.board {
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-bottom:18px;
}

.row {
  display:flex;
  justify-content:center;
  gap:8px;
}

.tile {
  width:48px;
  height:48px;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
  font-weight:900;
  background:var(--card);
  border:2px solid var(--border);
  text-transform:uppercase;
}

.tile.g {
  background:var(--green);
  border-color:var(--green);
  color:#0c2013;
}

.tile.y {
  background:var(--yellow);
  border-color:var(--yellow);
  color:#2a2305;
}

.tile.x {
  background:var(--gray);
  border-color:var(--gray);
}

form {
  display:flex;
  gap:10px;
}

input {
  flex:1;
  height:48px;
  border-radius:14px;
  border:2px solid var(--border);
  background:#0c0f1f;
  color:var(--text);
  padding:0 14px;
  font-size:15px;
}

input::placeholder {
  color:#6f77a5;
}

button {
  height:48px;
  padding:0 18px;
  border-radius:14px;
  border:none;
  background:linear-gradient(135deg, #5b6cff, #7a8cff);
  color:white;
  font-weight:800;
  cursor:pointer;
}

button:disabled {
  opacity:.6;
  cursor:not-allowed;
}

.msg {
  margin-top:14px;
  text-align:center;
  font-size:13px;
  color:var(--muted);
  min-height:18px;
}

.app {
  width:100%;
  max-width:420px;
  padding:24px 16px 28px;
}